body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:8px;
  width:22px;
  height:21px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:39px;
  top:9px;
  width:81px;
  height:17px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:255px;
  top:9px;
  width:57px;
  height:19px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:340px;
  top:9px;
  width:57px;
  height:19px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:227px;
  top:10px;
  width:28px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:318px;
  top:9px;
  width:22px;
  height:21px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:18px;
  top:86px;
  width:377px;
  height:364px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:364px;
}
#u15 {
  position:absolute;
  left:2px;
  top:174px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:62px;
  top:47px;
  width:289px;
  height:25px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:102px;
  width:156px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:30px;
  top:130px;
  width:161px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:30px;
  top:242px;
  width:86px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:30px;
  top:268px;
  width:118px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:30px;
  top:296px;
  width:105px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:30px;
  top:324px;
  width:92px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:40px;
  top:396px;
  width:68px;
  height:28px;
  font-size:14px;
  color:#4D90E7;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:128px;
  top:396px;
  width:68px;
  height:28px;
  font-size:14px;
  color:#4D90E7;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:305px;
  top:396px;
  width:68px;
  height:28px;
  font-size:14px;
  color:#4D90E7;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:216px;
  top:396px;
  width:68px;
  height:28px;
  font-size:14px;
  color:#4D90E7;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:352px;
  width:53px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:358px;
  top:354px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:10px;
  height:2px;
}
#u41 {
  position:absolute;
  left:358px;
  top:360px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:10px;
  height:2px;
}
#u42 {
  position:absolute;
  left:30px;
  top:158px;
  width:168px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:30px;
  top:186px;
  width:142px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:30px;
  top:214px;
  width:142px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
