body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:793px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:718px;
}
#u1759 {
  position:absolute;
  left:20px;
  top:26px;
  width:773px;
  height:718px;
}
#u1760 {
  position:absolute;
  left:2px;
  top:351px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
